/* google font url */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Serif+Bengali:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif Bengali", serif;
}

.deepPurple {
  background: #7C449A;
}

.lightPurple {
  background: #D8BAD7;
}
.textDeepPurple {
  color: #7C449A;
}

.textLightPurple {
  color: #D8BAD7;
}

.content_container {
  max-width: 1170px;
}


nav .active {
  background: #E6097F !important;

}